@model IEnumerable<EmployeeMgmtSystem.Models.UserModel>

<style>
    table {
        width: 100%;
        border-collapse: collapse;
    }

    table, th, td {
        border: 1px solid black;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #eaeaea;
    }

</style>
<div>
    <table>
        <thead>
            <tr>
                <td>S.N</td>
                <td>Name</td>
                <td>Email</td>
                <td>Password</td>
                <td>Phone</td>
            </tr>
        </thead>
        <tbody>
            @{
                var sn = 1; 
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@sn</td> 
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.Password</td>
                    <td>@item.Phone</td>
                </tr>
                sn++;
            }
        </tbody>
    </table>
</div>
